<footer class="bg-dark text-white p-5">
        

    <div class="d-flex justify-content-center column-gap-5 mb-5">

        <div class="d-flex flex-column p-3 me-4">

            <span class="mb-2">Get to Know Us</span>

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                Contact Us
            </a>

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                About Us
            </a>

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                Careers
            </a>

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                Our stories
            </a>

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                Press
            </a>

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                Corporate Information
            </a>


        </div>

        <div class="d-flex flex-column p-3 mx-4">

            <span class="mb-2">Help</span>
            

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                Payments
            </a>

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                Shipping
            </a>

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                Cancellation and Returns
            </a>

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                FAQ
            </a>

        </div>

        <div class="d-flex flex-column p-3 ms-4">

            <span class="mb-2"> Consumer policy </span>

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                Terms Of Use
            </a>

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                Security
            </a>

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                Privacy
            </a>

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                Sitemap
            </a>

            <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">
                Grievance Redressal
            </a>

        </div>
    </div>

    <div class="d-flex justify-content-center column-gap-3 text-light">
        <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">Conditions of Use and Sale</a>
        <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">Privacy Notice</a>
        <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover link-info" style="cursor: pointer">Interest-Based Ads</a>
    </div>

    <span class="d-block text-center">©1995-2025, Website.com, Inc</span>

</footer>